<section class="my-5">
    <div class="border-split d-flex justify-content-between">
        <h2 class="title py-3">Shop From <span class="text-main fw-bold">Products</span></h2>
    </div>

    <input [(ngModel)]="searchWord" type="search" class="form-control w-50 mx-auto my-4" placeholder="Search">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mt-1">
        @for(product of productsList() | search: searchWord; track $index){
        <div class="product-container col">
            <app-product [product]="product" />
        </div>
        }
    </div>
</section>