<section class="bg-main-light shadow p-4 my-5 rounded-4">
    <h1 class="h1 text-main text-center fw-bolder">Forget Password</h1>

    <ng-container [ngSwitch]="step">
        <!-- Step 1: Verify Email -->
        <app-verifyEmailStep *ngSwitchCase="1" (stepChange)="step = $event" (email)="email=$event" />

        <!-- Step 2: Verify Code -->
        <app-verifyCodeStep *ngSwitchCase="2" (stepChange)="step= $event" />

        <!-- Step 3: Reset Password -->
        <app-resetPasswordStep *ngSwitchCase="3" (stepChange)="step= $event" [emailInput]="email" />
    </ng-container>

</section>