<section class="bg-main-light shadow p-4 my-5 rounded-4">
    <h1 class="h1 text-main text-center fw-bolder">Forget Password</h1>
    @if(step==1){
    <form [formGroup]="verifyEmail" class="row-cols-1 justify-content-center" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" id="email" type="email" class="form-control">
            @if(verifyEmail.get('email')?.errors &&
            (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty )){
            <div class="alert alert-danger mt-1">
                @if(verifyEmail.get('email')?.getError('required')){
                <p class="m-0">Email Is Required.</p>
                }@else if(verifyEmail.get('email')?.getError('email')){
                <p class="m-0">Please enter a valid email address</p>
                }
            </div>
            }
        </div>
        @if(errorMsg){
        <div class="alert alert-danger">
            <p class="m-0">{{errorMsg}}</p>
        </div>
        }
        @else if (successMsg) {
        <div class="alert alert-success">
            <p class="m-0">{{successMsg}}</p>
        </div>
        }
        <button [disabled]="verifyEmail.invalid || isLoading" type="submit" class="btn-main mt-1">
            Verify Email
            @if(isLoading){
            <span><i class=" fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
    }@else if(step==2){
    <form [formGroup]="verifyCode" class="row-cols-1 justify-content-center" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
            <label for="resetCode" class="form-label">ResetCode</label>
            <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
            @if(verifyCode.get('resetCode')?.errors &&
            (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty )){
            <div class="alert alert-danger mt-1">
                @if(verifyCode.get('resetCode')?.getError('required')){
                <p class="m-0">ResetCode Is Required.</p>
                }@else if(verifyCode.get('resetCode')?.getError('pattern')){
                <p class="m-0">Please enter a valid ResetCode</p>
                }
            </div>
            }
        </div>
        @if(errorMsg){
        <div class="alert alert-danger">
            <p class="m-0">{{errorMsg}}</p>
        </div>
        }
        @else if (successMsg) {
        <div class="alert alert-success">
            <p class="m-0">{{successMsg}}</p>
        </div>
        }
        <button [disabled]="verifyCode.invalid || isLoading" type="submit" class="btn-main mt-1">
            Verify Code
            @if(isLoading){
            <span><i class=" fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
    }@else if(step==3){
    <form [formGroup]="resetPassword" class="row-cols-1 justify-content-center" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
            <label for="email" class="form-label">Email</label>
            <input readonly formControlName="email" id="email" type="email" class="form-control">
            @if(resetPassword.get('email')?.errors &&
            (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)){
            <div class="alert alert-danger mt-1">
                @if(resetPassword.get('email')?.getError('required')){
                <p class="m-0">Email Is Required.</p>
                }@else if(resetPassword.get('email')?.getError('email')){
                <p class="m-0">Please enter a valid email address</p>
                }
            </div>
            }
        </div>

        <div class="my-2">
            <label for="newPassword" class="form-label">New Password</label>
            <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
            @if(resetPassword.get('newPassword')?.errors &&
            (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)){
            <div class="alert alert-danger mt-1">
                @if(resetPassword.get('newPassword')?.getError('required')){
                <p class="m-0">NewPassword Is Required.</p>
                }@else if(resetPassword.get('newPassword')?.getError('pattern')){
                <p class="m-0">Please enter a valid NewPassword</p>
                }
            </div>
            }
        </div>

        @if(errorMsg){
        <div class="alert alert-danger">
            <p class="m-0">{{errorMsg}}</p>
        </div>
        }
        @else if (successMsg) {
        <div class="alert alert-success">
            <p class="m-0">{{successMsg}}</p>
        </div>
        }
        <button [disabled]="resetPassword.invalid || isLoading" type="submit" class="btn-main mt-1">Reset Password
            @if(isLoading){
            <span><i class=" fas fa-spin fa-spinner"></i></span>
            }
        </button>
    </form>
    }
</section>