<div class="card bg-body-tertiary">
    <div [routerLink]="['/details',product().id]">
        <img [src]="product().imageCover" class="card-img-top fixed-size" [alt]="product().title">
        <div class="card-body p-3">
            <h5 class="card-title">{{product().category.name}}</h5>
            <p class="card-text">{{product().title.split(' ',3).join(' ')}}</p>
            <div class="d-flex justify-content-between">
                <p class="fw-bold"><span class="fs-5 text-main">{{product().price}}</span> EGP</p>
                <p class="text-muted">
                    <i class="fa fa-star rating-color"></i>
                    {{product().ratingsAverage}} ({{product().ratingsQuantity}})
                </p>
            </div>
        </div>
    </div>
    <a class="btn-add btn-main w-75 mx-auto text-center" (click)="addToCart(product().id)">Add to Cart</a>
</div>