<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products" routerLinkActive="active-link">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands" routerLinkActive="active-link">Brands</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart" routerLinkActive="text-main">
                        <i class="fa-solid fa-cart-shopping fs-5"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/micheal-ghobrial" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fa fa-brands fa-linkedin fs-3 text-main"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="_authService.Logout()" class="nav-link cursor-pointer text-danger">
                        Signout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>