<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/images/Websitelogo.png" alt="logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" routerLink="login" routerLinkActive="active-link">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" routerLink="register" routerLinkActive="active-link">
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>